body{
    font-family:Arial, sans-serif;
    background:#f2f2f2;
    text-align:center;
    margin-top:50px;
}
.container{
    background:#fff;
    padding:30px;
    border-radius:8px;
    display:inline-block;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.weather-card{
    margin-top:20px;
    padding:20px;
    border:1px solid #ddd;
    background:#f9f9f9;
    border-radius:5px;
}